<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/custom.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Plane Booking</title>
</head>
<body>
<div class="container" style="width:90%; overflow-y: scroll; overflow-x: hidden;">
  <button style="float:left; font-family: poppins; margin-bottom: 1rem;" onclick="window.history.go(-1);">Back</button>
<h2>Plane Bookings</h2>
{% if not bookings %}
    <p>No Plane bookings found.</p>
{% else %}
    <table border="1">
      <thead>
        <tr>
          <th>Plane ID</th>
          <th>Plane Name</th>
          <th>Departure Time</th>
          <th>Passenger ITS</th>
          <th>Passenger Name</th>
          <th>Passport Number</th>
          <th>Phone Number</th>
          <th>Seat Number</th>
          <th>Shuttle Number</th>
          <th>Shuttle Time</th>

        </tr>
      </thead>
      <tbody>
        {% for booking in bookings %}
        <tr>
          <td>{{ booking.plane_id }}</td>
          <td>{{ booking.plane_name }}</td>
          <td>{{ booking.departure_time.strftime('%H:%M') }}</td>
          <td>{{ booking.ITS }}</td>
          <td>{{ booking.passenger_name }}</td>
          <td>{{ booking.passport_number }}</td>
          <td>{{ booking.phone_number }}</td>
          <td>{{ booking.seat_number }}</td>
          <td>P{{ booking.plane_id }}
          <td>{{ booking.shuttle_time }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endif %}
  </div>
  <footer class="footer" style="color:white;">
    <p>&copy; 2024 TKM Rawalpindi. All rights reserved.</p>
</footer>  
</body>
</html>
