<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/custom.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Plane Booking</title>
</head>
<body>
<div class="container" style="width: 50%;">
    <button style=" float: right; font-family: Poppins; " onclick="window.location.href='/plane_info/'">List</button>
    <h1 style="padding-left: 7%;">Plane Booking Form</h1>
    {% if form_error %}
        <p style="color:red;">{{ form_error }}</p>
    {% endif %}
    {% if message %}
        <p style="color:green;">{{ message }}</p>
    {% endif %}
    <form id="searchForm" method="get" action="/plane-booking-form/">
        <label for="its">Search by ITS:</label>
        <input type="number" id="its" name="its" value="{{ search }}" required>
        <button type="submit">Search</button>
    </form>
    {% if person %}
       
        <form method="get" action="/book-plane-details/">
            <input type="hidden" name="its" value="{{ person.ITS }}">
            <label for="plane_name">Plane Name:</label>
            <select name="plane_name" required>
                {% for plane in planes %}
                    <option value="{{ plane.plane_id }}">
                        {{ plane.company }} ({{ plane.departure_time.strftime('%H:%M') }})
                    </option>
                {% endfor %}
            </select>
            <br>
            <label for="seat_number">Seat Number:</label>
            <input type="number" name="seat_number" required>
            <br>
            <button type="submit">Book Plane</button>
        </form>
    {% endif %}
    </div>
    <footer class="footer" style="color:white; height: 6%;">
        <p>&copy; Powered by Toloba-ul-Kulliyat-il-Mumenoon Rawalpindi. All rights reserved 2024.</p>
    </footer> 
</body>
</html>
