{% extends "base.html" %}

{% block content %}
    <h1>Train Booking Form</h1>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    {% if message %}
        <p style="color:green;">{{ message }}</p>
    {% endif %}

    {% if not person %}
    <form id="searchForm" method="get" action="/train-booking-form/">
        <label for="its">Search by ITS:</label>
        <input type="number" id="its" name="its" required>
        <button type="submit">Search</button>
    </form>
    {% else %}
        <form method="post" action="/book-train-details/">
            <input type="hidden" name="its" value="{{ person.ITS }}">
            <label for="train_number">Train Number:</label>
            <select name="train_number" required>
                {% for train in trains %}
                    <option value="{{ train.train_number }}">{{ train.train_name }} ({{ train.departure_time }})</option>
                {% endfor %}
            </select>
            <br>
            <label for="seat_number">Seat Number:</label>
            <input type="number" name="seat_number" required>
            <br>
            <label for="coach_number">Coach Number:</label>
            <input type="text" name="coach_number" required>
            <br>
            <button type="submit">Book Train</button>
        </form>
    {% endif %}
{% endblock %}
