{% extends "base.html" %}

{% block content %}
<h2>Train Bookings</h2>
{% if not bookings %}
    <p>No train bookings found.</p>
{% else %}
    <table border="1">
      <thead>
        <tr>
          <th>Train ID</th>
          <th>Train Name</th>
          <th>Departure Time</th>
          <th>Passenger ITS</th>
          <th>Passenger Name</th>
          <th>Passport Number</th>
          <th>Phone Number</th>
          <th>Seat Number</th>
          <th>Coach Number</th>
        </tr>
      </thead>
      <tbody>
        {% for booking in bookings %}
        <tr>
          <td>{{ booking.train_id }}</td>
          <td>{{ booking.train_name }}</td>
          <td>{{ booking.departure_time.strftime('%Y-%m-%d %H:%M') }}</td>
          <td>{{ booking.ITS }}</td>
          <td>{{ booking.passenger_name }}</td>
          <td>{{ booking.passport_number }}</td>
          <td>{{ booking.phone_number }}</td>
          <td>{{ booking.seat_number }}</td>
          <td>{{ booking.coach_number }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endif %}
{% endblock %}
