<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/custom.css">
    <title>Bus Booking</title>
</head>
<body>
<div class="container" style="width: 50%;">
    <button style=" float: right; font-family: Poppins; " onclick="window.location.href='/train_info/'">List</button>
    <h1 style="padding-left: 7%;">Train Booking Form</h1>
    <form id="searchForm" method="get" action="/train-booking-form/">
        <label for="its">Search by ITS:</label>
        <input type="number" id="its" name="its" value="{{ search }}" required>
        <button type="submit">Search</button>
    </form>
    {% if form_error %}
        <p style="color:red;">{{ form_error }}</p>
    {% endif %}
    {% if message %}
        <p style="color:green;">{{ message }}</p>
    {% endif %}
    {% if person %}
       
        <form method="get" action="/book-train-details/" style="margin-top:5%;">
            <input type="hidden" name="its" value="{{ person.ITS }}">
            <label for="train_number">Train Number:</label>
            <select name="train_number" required>
                {% for train in trains %}
                    <option value="{{ train.id }}">
                        {{ train.train_name }} ({{ train.departure_time.strftime('%H:%M') }})
                    </option>
                {% endfor %}
            </select>
        </br>
            <label for="seat_number">Seat Number:</label>
            <select name="seat_number">
                <option value = "L1"> L1 </option>
                <option value = "M2"> M2 </option>
                <option value = "U3"> U3 </option>
                <option value = "L4"> L4 </option>
                <option value = "M5"> M5 </option>
                <option value = "U6"> U6 </option>
            </select>
    </br>
            <label for="coach_number">Coach Number:</label>
            <input type="text" name="coach_number" required>
</br>
            <label for="cabin_number">Cabin Number:</label>
            <select name="cabin_number">
                <option value = "A"> A </option>
                <option value = "B"> B </option>
                <option value = "C"> C </option>
                <option value = "D"> D </option>
                <option value = "E"> E </option>
                <option value = "F"> F </option>
                <option value = "G"> G </option>
                <option value = "H"> H </option>
                <option value = "I"> I </option>
                <option value = "J"> J </option>
                <option value = "K"> K </option>
                <option value = "L"> L </option>
            </select>
</br>
            <button type="submit">Book Train</button>
        </form>
    {% endif %}
    </div>
    </body>
    </html>
