{% extends "base.html" %}

{% block content %}
<style>
        .container {
            max-height: 90vh;
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
            grid-template-rows: repeat(3, 1fr); 
            gap: 10px;   
            margin: auto;
            padding: 20px;
            
        }
        .card {
            background-color: #18643A;
            padding: 20px;
            width: 10vw;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            cursor: pointer; /* Add cursor pointer for better UX */
            transition: background-color 0.3s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-left: 8.3vw;
        }
        .card:hover {
            background-color: #14532E;
        }
        .card a {
            text-decoration: none;
            color: #ffff;
        }
</style>
<div style=" display: flex; flex-direction: column; align-content: center; justify-content: center;">
    <h1 style=" text-align: center ;">Total Count</h1>
    <div class="container">
        <div class="card" onclick="redirectToPage('/processed-masters/')"><a href="#">Imigration count:<br><br> {{ processed_count }}</a></div>
        <div class="card" onclick="redirectToPage('/')"><a href="#">Arrival Scanning count:<br><br> {{ arrived_count }}</a></div>
        <div class="card" onclick="redirectToPage('/')"><a href="#">Sim Issuance count:<br><br> {{ sim_count }}</a></div>
        <div class="card" onclick="redirectToPage('/count-bus/')"><a href="#">Bus Booking count:<br><br> {{ bus_booking_count }}</a> </div>
        <div class="card" onclick="redirectToPage('/count-train/')"><a href="#">Train Booking count:<br><br> {{ train_booking_count }}</a> </div>
        <div class="card" onclick="redirectToPage('/count-plane/')"><a href="#">Plane Booking count:<br><br> {{ plane_booking_count }}</a> </div>
    
    </div>

</div>
    

    <script>
        function redirectToPage(url) {
            window.location.href = url;
        }
    </script>
{% endblock %}